.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 100px;
  background-color: #194685;
}

.App h1 {
  margin-bottom: 50px;
  color: #86c1e9;
  font-weight: bold;
  font-size: 60px;
  transition: .4s;
  text-shadow: 2px 2px 5px #020202;
}

.App h1:hover {
  color: #c9ddeb;
}